[submodule "share/unity/project/Robotics-Object-Pose-Estimation"]
	path = share/unity/project/Robotics-Object-Pose-Estimation
	url = https://github.com/Unity-Technologies/Robotics-Object-Pose-Estimation.git
